*{
    padding : 0px;
    margin : 0px;
    font-size:19px;
}

.container{
    background-color:gray;
    height:260px;
}

.in{
    width:90vw;
    margin:20px;
    padding:9px;
    font-size: 15px;
    border-radius: 6px;
}

.btn{
    padding:5px 15px;
    margin:5px;
    background-color: rgb(180, 180, 240);
    border-radius: 6px;
}   

.out{
    background-color: rgb(93, 189, 189);
}

.tbl{
    width:100vw;
}

td{
    text-align: center;
}